main {
	max-width: 1640px;
	margin: 0 auto;
}

.logo-container {
	max-width: 398px;
	height: auto;
	a.logo {
		display: block;
		background-color: var(--text-color-1);
		border-radius: 200px;
	}
}

.hero {
	display: grid;
	grid-template-columns: 1fr 2fr 260px;
	column-gap: 1em;
	color: var(--text-color-1);
	.intro-text {
		font-family: "Libre Baskerville", serif;
		max-width: 812px;
	}
	.news-column {
		text-align: center;
		h2 {
			display: inline-block;
			margin: 0;
			max-width: 77px;
		}
		.news-text {
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
			font-family: "Libre Baskerville", serif;
		}
	}
}

.posts ul {
	display: grid;
	grid-template-columns: repeat(4, 366px);
	column-gap: 16px;
	row-gap: 16px;
	li {
		background-color: lightblue;
		padding: 160px 32px;
		border-radius: 199px;
		a {
			text-decoration: none;
			color: white;
			text-transform: uppercase;
			text-align: center;
		}
		h3,
		p {
			font-family: var(--font-sans-serif);
			font-size: 40px;
		}
		h3 {
			font-size: 40px;
			line-height: 40px;
			margin: 0 0 16px 0;
		}
		p {
			font-size: 20px;
		}
		p.post-type {
			font-family: var(--font-mono);
			font-size: 13px;
			line-height: 17px;
		}
	}
}
