main {
	max-width: 1640px;
	margin: 0 auto;
}

.logo-container {
	width: 398px;
	height: 398px;
	a.logo {
		display: block;
		background-color: var(--text-color-1);
		border-radius: 200px;
	}
}

.hero {
	display: grid;
	grid-template-columns: 1fr 2fr 260px;
	color: var(--text-color-1);
	.intro-text {
		font-family: "Libre Baskerville", serif;
		max-width: 812px;
	}
	.news-column {
		text-align: center;
		h2 {
			display: inline-block;
			margin: 0;
			max-width: 77px;
		}
		.news-text {
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
			font-family: "Libre Baskerville", serif;
		}
	}
}

.posts ul {
	display: inline-flex;
	li {
		width: 100%;
		max-width: 398px;
	}
}
