main:not(.issue-content) {
	max-width: 1640px;
	margin: 0 auto;
	padding: 0 10px;
}

.grid-view {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 16px;
	row-gap: 16px;
	padding-left: 0;
	align-items: start;
    grid-auto-rows: minmax(min-content, max-content);
}

.content-with-sidebar {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 100px;
	margin: auto;
	article {
		max-width: 950px;
		margin: auto;
	}
}

@media (max-width: 767.9px) {
	main:not(.issue-content) {
		padding: 0 24px;
	}
}