main:not(.issue-content) {
	max-width: 1640px;
	margin: 0 auto;
	padding: 0 10px;
}

.grid-view {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	.grid-sizer {
		display: none;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.grid-item {
		grid-column-start: 1;
		grid-column-end: 4;
		margin-bottom: 30px;
	}
}


.content-with-sidebar {
	display: grid;
	grid-template-columns: 2fr 1fr;
	article {
		max-width: 950px;
		margin-top: 0;
	}
}

.page-template-default .page-view article {
    max-width: 950px;
    margin: auto;
}

@media (max-width: 767.9px) {
	main:not(.issue-content) {
		padding: 0 24px;
	}
}


@media screen and (max-width: 768px) { 

	.grid-sizer, .grid-item {
		grid-column-start: 1;
		grid-column-end: 1;
	}

	.content-with-sidebar {
		display: flex;
		flex-direction: column;
		grid-gap: 0;
		article,
		aside {
			max-width: 100%;
		}	
	}
	.content-with-sidebar aside ul {
		padding-left: 0;
	}
}
