main:not(.issue-content) {
	max-width: 1640px;
	margin: 0 auto;
	padding: 0 10px;
}

.grid-view {
	display: flex;
	.grid-sizer {
		display: none;
		width: 25%;
	}
	.grid-item {
		width: calc(100% / 4 - 16px);
		margin-bottom: 30px;
	}
}


.content-with-sidebar {
	display: flex;
	article {
		max-width: 950px;
		margin-top: 0;
	}
}

@media (max-width: 767.9px) {
	main:not(.issue-content) {
		padding: 0 24px;
	}
}


@media screen and (max-width: 768px) { 
	.content-with-sidebar {
		display: flex;
		flex-direction: column;
		grid-gap: 0;
		article,
		aside {
			max-width: 100%;
		}
	}
}
