
.single .content-with-sidebar {
	header.article-header {
		display: block;
		max-width: 500px;
		margin-bottom: 0px;
		font-family: var(--font-mono);
		font-size: 12px;
		text-transform: uppercase;
		span {
			display: inline-block;
			margin-right: 16px;
			text-align: center;
			padding: 0 5% 10px 5%;
			border-bottom: 1px solid var(--text-color-1);
		}	
	}
	h2.subtitle,
	.latest-posts h2 {
		@extend .subtitle;
		font-size: 40px;
		margin: 0;
	}
	article .tag-list {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	.issue__name,
	a.article__tag {
		font-family: var(--font-mono);
		font-size: 12px;
		text-transform: uppercase;
	}

	aside {
		.article-separator {
			display: inline-block;
			margin-left: 3px;
			margin-right: 3px;
			&-large {
				padding-left: 20px;
				font-size: 40px;
			}
		}
		h2 {
			display: inline-block;
			padding-left: 20px;
		}
		.aside-excerpt {
			font-family: var(--font-mono);
			font-size: 13px;
			color: var(--text-color-1);
		}
		ul li {
			margin-bottom: 20px;
		}
		.article__tag_name,
		.article__date {
			font-family: var(--font-mono);
			font-size: 12px;
		}
		.article__meta {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-top: 10px;
			color: var(--text-color-1);
		}
	}
}