@import "_grid";
@import "main-elements/index.scss";

// Fonts
$fontCrimson: "Crimson";

$fontIcons: "APRIA-Icons";

$fontCrimsonStack: $fontCrimson, serif;
$fontIconsStack: $fontIcons;

@font-face {
	font-family: $fontCrimson;
	src: url("../webfonts/crimson-roman-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: $fontCrimson;
	src: url("../webfonts/crimson-italic-webfont.woff") format("woff");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: $fontCrimson;
	src: url("../webfonts/crimson-semibold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: $fontCrimson;
	src: url("../webfonts/crimson-semibolditalic-webfont.woff") format("woff");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Ahamono";
	src: url("../webfonts/AHAMONO-Regular.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: $fontIcons;
	src: url("../webfonts/icons.woff2") format("woff2"), url("../webfonts/icons.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

:root {
	--color-1: #fce4e9;
	--text-color-1: #ff0000;
	--text-color-2: #000;
	--font-mono: "Ahamono";
}

html {
	-webkit-font-smoothing: antialiased; // Fixes the issue that webfonts appear bolder on dark backgrounds in Chrome & Safari
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%; // Disable auto-resizing but keep zoom on desktop
	box-sizing: border-box;
	background-color: var(--color-1);

	&.no-scroll {
		overflow: hidden;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	position: relative;
}

ul {
	list-style: none;
}
