@import "base/index.scss";
// @import "_grid";
@import "main-elements/index.scss";
@import "templates/index.scss";

// HELPERS

.show {
	display: block;
}
.hide {
	display: none;
}

// HACKS FOR CLIENTS
.home .logo-container .logo-svg-cover:hover,
.home.logo-container .sticky-logo:hover {
	cursor: default !important;
}

.main-column,
.sidebar-column {
	margin-top: 140px;
}