@import "base/index.scss";
// @import "_grid";
@import "main-elements/index.scss";
@import "templates/index.scss";

// HELPERS

.show {
	display: block;
}
.hide {
	display: none;
}

// HACKS FOR CLIENTS
.home .logo-container .logo-svg-cover:hover,
.home.logo-container .sticky-logo:hover {
	cursor: default !important;
}

.page-template .page-view article,
.page-template-default .page-view article {
    grid-column: 3 / 9;
    margin: auto;
}