main:not(.issue-content) {
	max-width: 1640px;
	margin: 0 auto;
	padding: 0 10px;

	flex: 1;
}

.grid-view {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	.grid-sizer {
		// display: none;
		grid-column-start: 1;
		grid-column-end: 4;
		width: calc(25% - 16px);
	}
	.grid-item {
		width: calc(25% - 16px);
		grid-column-start: 1;
		grid-column-end: 4;
		margin-bottom: 30px;
	}
}

.msnry-view .grid-item {
	width: calc(100%/4 - 16px);
	margin-bottom: 30px;
}

.msnry-sidebar .grid-item {
	width: calc(50% - 16px);
}

.page-view {
	display: grid;
	grid-template-columns: 120px repeat(11, 1fr);
	grid-gap: 16px;
}

.archive-view,
.page-view {
	h1,
	> div.msnry-view {
		grid-column-start: 3;
		grid-column-end: 13;
	}
	.content-container {
		grid-column: 3/10;
		max-width: 950px;
	}
}
.content-with-sidebar {
	article {
		grid-column: 3 / 9;
		margin-top: 0;
	}
	aside {
		grid-column: 10 / 13;
	}
}

.page-template-default .page-view article {
    grid-column: 3 / 9;
    margin: auto;
}


@media screen and (max-width: 1100px) {
	// .archive-view { display: flex; }
	.archive-view,
	.page-view {
		h1,
		> div.msnry-view {
			grid-column: 1/ 13;
		}
	}
	.archive-view h1 {
		grid-column: 1/ 13;
	}
}

@media (max-width: 767.9px) {
	main:not(.issue-content) {
		padding: 0px 24px;
	}
	.archive-view,
	.page-view {
		> div.msnry-view {
			.msnry-view .grid-item {
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}
}

@media screen and (max-width: 768px) {

	.grid-sizer, .grid-item {
		grid-column-start: 1;
		grid-column-end: 1;
	}

	.content-with-sidebar {
		display: flex;
		flex-direction: column;
		grid-gap: 0;
		article,
		aside {
			max-width: 100%;
		}
	}
	.content-with-sidebar aside ul {
		padding-left: 0;
	}
	.page-template-default .page-view article {
		grid-column: 2 / 11;
		margin: auto;
	}
}
