/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html,
body {
	border: none;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

html {
	-webkit-font-smoothing: antialiased; // Fixes the issue that webfonts appear bolder on dark backgrounds in Chrome & Safari
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%; // Disable auto-resizing but keep zoom on desktop
	box-sizing: border-box;

	&.no-scroll {
		overflow: hidden;
	}
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	font-weight: 400;
	background-color: var(--color-1);
	max-width: 100%;
	color: var(--text-color-1);
}

ul {
	list-style: none;
}
