// Fonts
$fontCrimson: "Crimson";

$fontIcons: "APRIA-Icons";

$fontCrimsonStack: $fontCrimson, serif;
$fontIconsStack: $fontIcons;

@font-face {
	font-family: $fontCrimson;
	src: url("../webfonts/crimson-roman-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: $fontCrimson;
	src: url("../webfonts/crimson-italic-webfont.woff") format("woff");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: $fontCrimson;
	src: url("../webfonts/crimson-semibold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: $fontCrimson;
	src: url("../webfonts/crimson-semibolditalic-webfont.woff") format("woff");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Ahamono";
	src: url("../webfonts/AHAMONO-Regular.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: $fontIcons;
	src: url("../webfonts/icons.woff2") format("woff2"), url("../webfonts/icons.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}


p {
	margin: 0;
	font-size: 26px;
	line-height: 1.2;
}
@media (max-width: 414.1px) {
	p {
		font-size: 20px;
		line-height: 1.3;
	}
}