:root {
	--color-1: #fce4e9;
	--text-color-1: #ff0000;
	--text-color-2: #000;
	--text-color-3: #f1f1f2;
	--font-mono: "Ahamono";
}

// Variables
$widthAsideColumn: 344px;
$maxWidthMainColum: 680px;
$padding: 26px;
$paddingMobile: 10px;
$indent: 14px;
$indentSmall: 10px;

$transitionDuration: 250ms;

// Breakpoint Variables
$breakpointMobile: max-width 768px;
$breakpointTablet: max-width 1024px;
// Layout mixins
