.archive-view {
	h1 {
		font-size: 60px;
		font-family: var(--font-sans-serif);
	}
}


article.grid-item, .grid-sizer {
	width: calc(100%/4 - 16px);	
	a {
		text-decoration: none;
	}
	figure {
		margin-left: 0;
	}	
} 

.search-result { 
	width: 23%; 
	 margin-bottom: 20px;
	 padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color-1);
    
	img {
	    max-width: 100%;
	    height: auto;
	    margin-top:10px;
	}

	a.result__title {
	    font-family: var(--font-sans-serif);
	    color: var(--text-color-1);
	    text-transform: uppercase;
	    line-height: 1;
	    font-size: 30px;
	    text-decoration: none;
	    display: block;
}
	.result__date {
	    font-family: var(--font-sans-serif);
	    color: #ffffff;
	    text-transform: uppercase;
	    line-height: 1;
	    font-size: 30px;
	    text-decoration: none;
	    display: block;
}
.result__text {
    font-family: var(--font-mono);
    color: var(--text-color-1);
    font-size: 12px;
}
}

@media (max-width: 768px) {
	article.grid-item, .grid-sizer {
		width: calc(100%/2 - 16px);
	}

}

@media (max-width: 414px) {
	article.grid-item, .grid-sizer {
		width: calc(100%/1 - 16px);
	}

	
}


