.archive-view,
.msnry-sidebar {
	h1 {
		font-size: 60px;
		font-family: var(--font-sans-serif);
		grid-column: 3 / 10;
	}
}


article.grid-item, .grid-sizer {
	// width: calc(100%/4 - 16px);	
	a {
		text-decoration: none;
	}
	figure {
		margin-left: 0;
	}	
} 

 body.search-results {
 	.content-with-sidebar {
	 	article {
	    // grid-column: 2/9;
	    // margin-top: 0;
		}	
	}
 }

.msnry-sidebar .msnry-view {
	grid-column: 3 / 9;
}

