.content-with-sidebar {
    article {
		color: var(--text-color-1)
	}
	a {
		color: var(--text-color-1);
		text-decoration: none;
	}
}

.main-content article {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}


@media screen and (max-width: 768px) { 
	.content-with-sidebar {
		grid-gap: 0;
	}
}

h1.content-title,
h2.subtitle {
    color: var(--text-color-1);
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    line-height: 1;
}

h1.content-title {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.archive-view .article__date,
.page-view .article__date,
h2.subtitle {
    font-size: 40px;
}
.article__date {
    margin: 0;
}
// page and archive
.archive-view article,
.page-view article,
.msnry-sidebar article {
    margin-bottom: 16px;
}
.msnry-sidebar article,
.archive-view article {
    border-bottom: 1px solid var(--text-color-1);
}
.article__date {
    text-transform: uppercase;
    font-family: var(--font-sans-serif);
    color: white;
}

h2.subtitle {
    margin-top: 0;
}

.article__excerpt {
    font-size: 13px;
    font-family: var(--font-mono);
    color: var(--text-color-1);
    line-height: 17px;
    + p {
        margin-top: 16px;
    }
}

.article__text {
    font-family: var(--font-serif);
    color: var(--text-color-1);
    p {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 20px; 
        a {
            text-decoration: underline;
            color: var(--text-color-1);
        }
    }
    .is-type-video .wp-block-embed__wrapper {
        min-height: 500px;
    }
    .wp-block-embed__wrapper {
        overflow: hidden;
        // margin: 40px 0em 40px -14.5%;
        position: relative;
        max-width: 940px !important;
        // min-height: 214px;
        iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    a img,
    .wp-block-image,
    .wp-block-embed {
        img {
            max-width: 100%;
            height: auto;
        }
        figcaption {
            font-family: var(--font-mono);
            font-size: 13px;
            max-width: 500px;
        }
    }
    a.wp-block-button__link {
        background-color: var(--text-color-1);
        color: #fff;
    }
    a img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .wp-block-separator,
    hr {
        color: var(--color-1);
        height: 3px;
        background-color: var(--text-color-1);
        border: 1px solid var(--color-1);
    }
    sup {
        margin-left: 4px;
        font-size: 14px;
        border-bottom: 1px solid;
    }
}

.article__text .wp-block-image,
.article__text a img,
.wp-block-image,
.wp-block-embed,
.article__text iframe {
    // margin: 40px 0em 40px -14.5%;
    
}
.wp-block-image,
.wp-block-embed,
.article__text a img {
    margin: 40px 0em 40px -14.5%;
}

@media screen and (max-width: 768px) { 
    h1.content-title {
        font-size: 40px;
    }
    h2.subtitle {
        font-size: 20px;
    }
    .article__text p {
        font-size: 14px;
    }
    
}
@media screen and (max-width: 414px) { }