footer {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    max-width: 1640px;
    margin: auto;
    .menu-items ul {
        display: inline-flex;
        li {
            margin-right: 20px;
            a {
                display: block;
                font-size: 10px;
                font-family: var(--font-mono);
                color: var(--text-color-1);
            }
        }
    }
}

// RESPONSIVE

@media (max-width: 767.9px) {

footer {
    .menu-items ul {
            flex-wrap: wrap;
    }
}

}
