header {
	zoom: 1;
	-moz-transition: margin-top 250ms;
	-o-transition: margin-top 250ms;
	-webkit-transition: margin-top 250ms;
	transition: margin-top 250ms;
	display: flex;
	justify-content: center;
	margin-top: 0;
	z-index: 1;
	margin-bottom: 90px;
	.container {
		display: grid;
		grid-template-columns: repeat(12, 122px);
		column-gap: 16px;
		// justify-content: space-between;
		// width: 100%;
		// max-width: 1640px;
	}
	ul {
		margin-left: 0;
		margin-bottom: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			a {
				color: var(--text-color-1);
				font-family: var(--font-mono);
			}
		}
	}
}

.main-navigation {
	// margin-left: 16px;
	grid-column: 3 /12;
	ul {
		li {
			border: 1px solid var(--text-color-1);
			width: 122px;
			& + li {
				margin-left: 16px;
			}
			a {
				display: block;
				font-size: 12px;
				line-height: 17px;
				text-transform: uppercase;
				text-decoration: none;
				padding: 10px 0;
				text-align: center;
			}
		}
	}
}

// SOCIAL MEDIA NAV
.social-list {
	display: flex;
	align-items: center;
	.social-item {
		margin-right: 20px;
		a {
			display: block;
			background: var(--text-color-1);
			padding: 4px;
			border-radius: 60px;
			svg {
				fill: var(--color-1);
				width: 17px;
				display: block;
				height: 17px;
			}
		}
	}
}
