header.main-header {
	zoom: 1;
	z-index: 1;
	transition: margin-top 250ms;
	margin-top: 0;
	margin-bottom: 90px;
	.container {
		display: grid;
		
	// grid-template-columns: repeat(12, 1fr);
		grid-template-columns: 120px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	// grid-gap: 16px;	
		column-gap: 16px;
		max-width: 1640px;
		margin-left: auto;
		margin-right: auto;
	}
	nav.main-navigation {
		grid-column: 4 /12;
		ul {
			position: relative;
			padding: 0;
			li {
				display: inline-block;
				border: 1px solid var(--text-color-1);
				width: 122px;
				& + li {
					margin-left: 16px;
				}
				a {
					display: block;
					color: var(--text-color-1);
					font-family: var(--font-mono);
					font-size: 12px;
					line-height: 17px;
					text-transform: uppercase;
					text-decoration: none;
					padding: 10px 0;
					text-align: center;
				}
			}
		}
	}
}
.logo-container {
    position: relative;
	grid-column: 2 / 3;
    a.logo-svg-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
}
a.sticky-logo {
	.home & {
		display:none;
	}

	html.fixed-logo & {
		display:block;
	}
	display: block;
    transition: margin-top 250ms;
    border-radius: 50px;
    left: 0%;
    top: 0;
	z-index: 105;
    margin-top: -50px;
    height: 100px;
	width: 100px;
	margin-left: 20px;
	position: relative;

    .apria_logo { 
		border-radius: 50px;
	} 
}

// styling for fixed header on scroll
.fixed-logo {

	header.main-header {
		max-width: 100%;
		left: 0;
		position: fixed;
		z-index: 105;
		right: 0;
	    top: 0;	
		background: #fce4e9;
		padding-bottom: 10px;
		box-shadow: 0px 3px 4px 1px #5d5d5d29;
	}

}


// SOCIAL MEDIA NAV
.social-list {
	display: flex;
	align-items: center;
	.social-item {
		margin-right: 20px;
		a {
			display: block;
			width: 24px;
			height: auto;
		}
	}
}


.mobile-menu-button {
    color: #ff2020;
    font-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    z-index: 105;
}

.mobile-menu-close-button {
    height: 24px;
    position: fixed;
    left: 15px;
    top: 15px;
    width: 24px;
}


.search-field.positionable {
	position: absolute;
	margin-top: 16px;
	input[type=search] {
		padding: 10px;
		border: 1px solid var(--text-color-1);
	}
}


// RESPONSIVE

@media (max-width: 767.9px) {

	.logo-container {
 	   width: 100%;
 	  
	   
	    a.logo-svg-cover {
		    position: absolute;
		    left: 0;
		    right: 0;
		    width: 100px;
		    height: 50px;
		    z-index: 9999;
		    margin-left: auto;
		    
		}
	}

	header.main-header {
		margin-bottom: 30px;
		max-width:100vw !important;
		.container {
			display: flex;
			justify-content: space-between;
			.main-navigation {
				position: absolute;
				width:100vw !important;
			}
			ul.social-list {
 		   		padding-left: 0;
			}
		}	
	}

	a.sticky-logo {
	   left:0;
	   right:0;
	   margin-left:auto;
	  
	}

	.fixed-logo {
		a.sticky-logo {
	    	display: block;
	    	text-align: center;
	    	margin: -60px 0 20px auto;
   			 position: relative;
		}
		header.main-header {
			padding-bottom: 25px;
		}
	}

	.mobile-menu-button.hide-on-desktop {
    	display: block !important;
    	z-index: 99999;
    	img {
 		   width: 30px;
		}
	}

	.menu {
		-moz-box-shadow: 0px 18px 15px 0px rgba(0, 0, 1, 0.4);
		box-shadow: 0px 18px 15px 0px rgba(0, 0, 0, 0.4);
		background: #fce4e9;
		display: none;
		left: 0;
		padding-bottom: 20px;
		padding-top: 40px;
		padding-left: 10px;
		padding-right: 10px;    
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
	}
	.mobile-menu-open {
		body {
		    overflow: hidden;
		}

		a.sticky-logo{ 
			z-index: 99999;
    		position: relative;
    		left: 0;
		    right: 0;
		    margin-left: auto;
		    margin-right: 0;
    	}
    	.home a.sticky-logo{
    		display:block;
    	}
		.menu, .mobile-menu-close-button.hide-on-desktop {
		    display: block;
		    opacity: 1;
		    z-index: 999;
		 }

		 .mobile-menu-button.hide-on-desktop {
		 	display:none !important
		 }
		header.main-header {
		    margin-bottom: 90px;
			   .logo-container {
			    height: 60px;
    			
			   }
		}
		header.main-header nav.main-navigation ul {
			display: grid;
			grid-template-columns: 1fr 1fr;	
			column-gap: 24px;
			row-gap: 16px;
			margin-top: 50px; 
			padding-bottom: 40px;
			padding-top: 40px;
			padding-left: 16px;
			padding-right: 16px;
			li {
				margin-left:0px;
				width: 100%;
				a {
					padding: 7px 0;
					line-height: 17px;
					text-align: center;
				}
			}
			.search-field.positionable {
				position: initial;
				grid-column-start: 1;
				grid-column-end: 3;
				width: 100%;
				margin-top: 0;
				input[type="search"] {
					width: 100%;
				}
			}
		}
	}

}

@media (max-width: 414.1px) {
}
