header {
	zoom: 1;
	-moz-transition: margin-top 250ms;
	-o-transition: margin-top 250ms;
	-webkit-transition: margin-top 250ms;
	transition: margin-top 250ms;
	display: flex;
	justify-content: center;
	margin-top: 0;
	z-index: 1;
	margin-bottom: 90px;
	.container {
		display: grid;
		grid-template-columns: repeat(12, 122px);
		column-gap: 16px;
		// justify-content: space-between;
		// width: 100%;
		// max-width: 1640px;
	}
	ul {
		margin-left: 0;
		margin-bottom: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			a {
				color: var(--text-color-1);
				font-family: var(--font-mono);
			}
		}
	}
}



a.sticky-logo {
display:none;
	    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transition: margin-top 250ms;
    -o-transition: margin-top 250ms;
    -webkit-transition: margin-top 250ms;
    transition: margin-top 250ms;
    border-radius: 50px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    width: 100px;

    .apria_logo {
		border-radius: 50px;
	} 
}

.fixed-logo 
{ 
		a.sticky-logo{
			display:block;
			background-color: #000000;
		    left: calc((100% - 1024px) / 2 + 514px);
		    position: fixed;
		    top: -50px;
		    z-index: 105;
		}
}
.main-navigation {
	// margin-left: 16px;
	grid-column: 3 /12;
	ul {
		li {
			border: 1px solid var(--text-color-1);
			width: 122px;
			& + li {
				margin-left: 16px;
			}
			a {
				display: block;
				font-size: 12px;
				line-height: 17px;
				text-transform: uppercase;
				text-decoration: none;
				padding: 10px 0;
				text-align: center;
			}
		}
	}
}

// SOCIAL MEDIA NAV
.social-list {
	display: flex;
	align-items: center;
	.social-item {
		margin-right: 20px;
		a {
			display: block;
			background: var(--text-color-1);
			padding: 4px;
			border-radius: 60px;
			svg {
				fill: var(--color-1);
				width: 17px;
				display: block;
				height: 17px;
			}
		}
	}
}
