:root {
  --color-1: #fce4e9;
  --text-color-1: #ff0000;
  --text-color-2: #000;
  --text-color-3: #f1f1f2;
  --font-mono: "Ahamono";
  --font-serif: "Libre Baskerville", serif;
  --font-sans-serif: "Francois One", sans-serif;
}

/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
html.no-scroll {
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-weight: 400;
  background-color: var(--color-1);
  max-width: 100%;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Crimson";
  src: url("../webfonts/crimson-roman-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Crimson";
  src: url("../webfonts/crimson-italic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Crimson";
  src: url("../webfonts/crimson-semibold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Crimson";
  src: url("../webfonts/crimson-semibolditalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Ahamono";
  src: url("../webfonts/AHAMONO-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "APRIA-Icons";
  src: url("../webfonts/icons.woff2") format("woff2"), url("../webfonts/icons.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
p {
  margin: 0;
  font-size: 26px;
  line-height: 1.2;
}

@media (max-width: 414.1px) {
  p {
    font-size: 20px;
    line-height: 1.3;
  }
}
main:not(.issue-content) {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 10px;
}

.content-with-sidebar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 100px;
  margin: auto;
}
.content-with-sidebar article {
  max-width: 950px;
  margin: auto;
}

@media (max-width: 767.9px) {
  main:not(.issue-content) {
    padding: 0 24px;
  }
}
header.main-header {
  zoom: 1;
  z-index: 1;
  transition: margin-top 250ms;
  margin-top: 0;
  margin-bottom: 90px;
}
header.main-header .container {
  display: grid;
  grid-template-columns: repeat(12, 122px);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto;
}
header.main-header nav.main-navigation {
  grid-column: 3/12;
}
header.main-header nav.main-navigation ul li {
  display: inline-block;
  border: 1px solid var(--text-color-1);
  width: 122px;
}
header.main-header nav.main-navigation ul li + li {
  margin-left: 16px;
}
header.main-header nav.main-navigation ul li a {
  display: block;
  color: var(--text-color-1);
  font-family: var(--font-mono);
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
}

a.sticky-logo {
  display: block;
  transition: margin-top 250ms;
  border-radius: 50px;
  left: 0%;
  top: 0;
  z-index: 105;
  margin-top: -50px;
  height: 100px;
  width: 100px;
}
.home a.sticky-logo {
  display: none;
}
a.sticky-logo .apria_logo {
  border-radius: 50px;
}

.fixed-logo header.main-header {
  max-width: 100%;
  left: 0;
  position: fixed;
  z-index: 105;
  right: 0;
  background: #fce4e9;
  padding-bottom: 10px;
  box-shadow: 0px 3px 4px 1px #5d5d5d29;
}

.social-list {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
}
.social-list .social-item {
  margin-right: 20px;
}
.social-list .social-item a {
  display: block;
  background: var(--text-color-1);
  padding: 4px;
  border-radius: 60px;
}
.social-list .social-item a svg {
  fill: var(--color-1);
  width: 17px;
  display: block;
  height: 17px;
}

@media (max-width: 767.9px) {
  header.main-header .container {
    display: block !important;
  }

  header.main-header {
    margin-bottom: 30px;
  }
}
footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  max-width: 1640px;
  margin: auto;
}
footer .menu-items ul {
  display: -webkit-inline-flex;
  display: inline-flex;
}
footer .menu-items ul li {
  margin-right: 20px;
}
footer .menu-items ul li a {
  display: block;
  font-size: 10px;
  font-family: var(--font-mono);
  color: var(--text-color-1);
}

.content-with-sidebar article {
  margin: auto;
  color: var(--text-color-1);
}
.content-with-sidebar a {
  color: var(--text-color-1);
  text-decoration: none;
}

.main-content article {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .content-with-sidebar {
    display: -webkit-flex;
    display: flex;
    grid-gap: 0;
  }
}
@media screen and (max-width: 768px) {
  .content-with-sidebar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    grid-gap: 0;
  }
  .content-with-sidebar article,
.content-with-sidebar aside {
    max-width: 100%;
  }
}
h1.content-title,
h2.subtitle,
.single .content-with-sidebar h2.subtitle,
.single .content-with-sidebar .latest-posts h2 {
  color: var(--text-color-1);
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  line-height: 1;
}

h1.content-title {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 30px;
}

h2.subtitle, .single .content-with-sidebar h2.subtitle,
.single .content-with-sidebar .latest-posts h2 {
  font-size: 40px;
}

.article__text {
  font-family: var(--font-serif);
  color: var(--text-color-1);
}
.article__text p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}
.article__text p a {
  text-decoration: underline;
}
.article__text .wp-block-image {
  margin: 3em 0em 3em -7em;
}
.article__text .wp-block-image img {
  width: 100%;
}
.article__text .wp-block-image figcaption {
  font-family: var(--font-mono);
  font-size: 13px;
  max-width: 500px;
}

.article__text hr {
  color: var(--color-1);
  height: 3px;
  background-color: var(--text-color-1);
  border: 1px solid var(--color-1);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr 260px;
  grid-auto-rows: 240px;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  color: var(--text-color-1);
  margin-bottom: 60px;
}
.hero .logo-container {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  max-width: 398px;
  height: auto;
}
.hero .logo-container a.logo {
  display: block;
  background-color: var(--text-color-1);
  border-radius: 200px;
}
.hero .intro-text {
  grid-column-start: 2;
  grid-row-start: 1;
  font-family: var(--font-serif);
  max-width: 812px;
}
.hero .news-column {
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}
.hero .news-column a {
  color: --var(--text-color-1);
  text-decoration: none;
}
.hero .news-column a h2 {
  display: inline-block;
  margin: 0;
  max-width: 77px;
}
.hero .news-column a .news-text {
  color: var(--text-color-1);
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 20px;
  font-family: var(--font-serif);
}
.hero .filters {
  grid-column-start: 2;
  grid-row-start: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 40px;
}
.hero .filters a {
  display: block;
  font-family: var(--font-mono);
  color: var(--text-color-1);
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 16px;
  min-width: 130px;
}
.hero .filters a:before {
  content: "";
  padding-top: 10px;
  display: inline-block;
  border-top: 2px solid transparent;
  width: 100%;
}
.hero .filters a:after {
  content: "";
  display: inline-block;
  border-bottom: 2px solid var(--text-color-1);
  width: 100%;
}
.hero .filters a.active:before {
  border-top: 2px solid var(--text-color-1);
}
.hero .filters .filter-paragraphs {
  font-family: var(--font-serif);
}
.hero .filters .filter-paragraphs p {
  font-size: 20px;
  line-height: 24px;
}

ul.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
  padding-left: 0;
  -webkit-align-items: start;
          align-items: start;
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
}
ul.posts .grid-sizer {
  display: none;
  width: 384px;
}
ul.posts li.post-item {
  display: none;
  -webkit-align-items: center;
          align-items: center;
  border-radius: 199px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 384px;
}
ul.posts li.post-item img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
ul.posts li.post-item a {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 100%;
}
ul.posts li.post-item .post-content-wrap {
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0 20px;
}
ul.posts li.post-item .post-content-wrap h3,
ul.posts li.post-item .post-content-wrap p {
  font-family: var(--font-sans-serif);
}
ul.posts li.post-item .post-content-wrap h3 {
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 16px 0;
}
ul.posts li.post-item .post-content-wrap p {
  font-size: 20px;
}
ul.posts li.post-item .post-content-wrap p.post-type {
  font-family: var(--font-mono);
  font-size: 13px;
  line-height: 17px;
}

.main-content .open-call {
  color: var(--text-color-1);
}

.circle {
  height: auto;
  border-radius: 50%;
}

.ellipse-big {
  height: 558px;
}

@media (max-width: 768px) {
  .hero {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
  }
  .hero p.intro-text {
    margin-top: 38px;
  }
  .hero .news-column {
    margin-top: 32px;
    text-align: center;
  }
  .hero .news-column .news-text {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .filters {
    -webkit-justify-content: center;
            justify-content: center;
  }
}
.single .content-with-sidebar header.article-header {
  display: block;
  max-width: 500px;
  margin-bottom: 0px;
  font-family: var(--font-mono);
  font-size: 12px;
  text-transform: uppercase;
}
.single .content-with-sidebar header.article-header span {
  display: inline-block;
  margin-right: 16px;
  text-align: center;
  padding: 0 5% 10px 5%;
  border-bottom: 1px solid var(--text-color-1);
}
.single .content-with-sidebar h2.subtitle,
.single .content-with-sidebar .latest-posts h2 {
  font-size: 40px;
  margin: 0;
}
.single .content-with-sidebar article .tag-list {
  margin-top: 16px;
  margin-bottom: 16px;
}
.single .content-with-sidebar .issue__name,
.single .content-with-sidebar a.article__tag {
  font-family: var(--font-mono);
  font-size: 12px;
  text-transform: uppercase;
}
.single .content-with-sidebar aside .article-separator {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}
.single .content-with-sidebar aside .article-separator-large {
  padding-left: 20px;
  font-size: 40px;
}
.single .content-with-sidebar aside h2 {
  display: inline-block;
  padding-left: 20px;
}
.single .content-with-sidebar aside .aside-excerpt {
  font-family: var(--font-mono);
  font-size: 13px;
  color: var(--text-color-1);
}
.single .content-with-sidebar aside ul li {
  margin-bottom: 20px;
}
.single .content-with-sidebar aside .article__tag_name,
.single .content-with-sidebar aside .article__date {
  font-family: var(--font-mono);
  font-size: 12px;
}
.single .content-with-sidebar aside .article__meta {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 10px;
  color: var(--text-color-1);
}

.main-content.issue-content {
  min-height: 100%;
  position: relative;
  display: -webkit-flex;
  display: flex;
}
.main-content.issue-content .article__background-container {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: calc((100% - 1024px) / 2 + 680px);
}
.main-content.issue-content .article__background-container .article__background {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 2230px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 2230px;
}
.main-content.issue-content .article__background-container .article__background .article__background-image {
  height: 100%;
  width: 100%;
}

.overlay-close-button {
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  left: 25px;
  height: 24px;
  position: fixed;
  top: 72px;
  width: 24px;
  z-index: 104;
}

html:not(.issue-header-fixed) .issue-header {
  background-color: transparent !important;
}

.issue-header {
  zoom: 1;
  display: -webkit-flex;
  display: flex;
  left: 0;
  height: 90px;
  padding-top: 69px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 103;
}

.issue-content article.main-column {
  margin-top: 80px;
}

.issue-content .main-column {
  background-color: transparent !important;
  padding-top: 0;
}
.issue-content .main-column .logo {
  display: none;
}

.main-content .main-column {
  min-height: 100vh;
  padding-top: 139px;
}

.main-column {
  float: left;
  padding-left: 26px;
  padding-right: 26px;
  position: relative;
  width: calc((100% - 1024px) / 2 + 680px);
}
.main-column .article__title {
  font: normal 55px/50px "Crimson", serif;
  font-weight: normal;
  font-weight: bold;
  transition: opacity 250ms;
  display: block;
  text-decoration: none;
  opacity: 1;
}
.main-column .issue-content .article__title {
  text-align: center;
}
.main-column .head__top-line + .article__title {
  margin-top: 12px;
}
.main-column .article__title + .article__subtitle {
  margin-top: 11px;
}
.main-column .article__head + .issue__authors {
  margin-top: 32px;
}
.main-column .issue__authors {
  font: normal 13px/17px "Ahamono", monospace;
  text-align: center;
}

.hide-on-desktop {
  display: none;
}

.main-column .content-wrap {
  float: right;
  width: 680px;
  max-width: 680px;
}

.content-wrap {
  position: relative;
}

.grid-sizer {
  width: 23%;
}

.search-result {
  width: 23%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--text-color-1);
}
.search-result img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
.search-result a.result__title {
  font-family: var(--font-sans-serif);
  color: var(--text-color-1);
  text-transform: uppercase;
  line-height: 1;
  font-size: 30px;
  text-decoration: none;
  display: block;
}
.search-result .result__date {
  font-family: var(--font-sans-serif);
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  font-size: 30px;
  text-decoration: none;
  display: block;
}
.search-result .result__text {
  font-family: var(--font-mono);
  color: var(--text-color-1);
  font-size: 12px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */