:root {
  --color-1: #fce4e9;
  --text-color-1: #ff0000;
  --text-color-2: #000;
  --text-color-3: #f1f1f2;
  --font-mono: "Ahamono";
  --font-serif: "Libre Baskerville", serif;
  --font-sans-serif: "Francois One", sans-serif;
}

/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
html.no-scroll {
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-weight: 400;
  background-color: var(--color-1);
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Crimson";
  src: url("../webfonts/crimson-roman-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Crimson";
  src: url("../webfonts/crimson-italic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Crimson";
  src: url("../webfonts/crimson-semibold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Crimson";
  src: url("../webfonts/crimson-semibolditalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Ahamono";
  src: url("../webfonts/AHAMONO-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "APRIA-Icons";
  src: url("../webfonts/icons.woff2") format("woff2"), url("../webfonts/icons.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
p {
  margin: 0;
  font-size: 26px;
  line-height: 1.2;
}

header {
  zoom: 1;
  transition: margin-top 250ms;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  margin-top: 0;
  z-index: 1;
  margin-bottom: 90px;
}
header .container {
  display: grid;
  grid-template-columns: repeat(12, 122px);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
header ul {
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
header ul li {
  display: inline-block;
}
header ul li a {
  color: var(--text-color-1);
  font-family: var(--font-mono);
}

.main-navigation {
  grid-column: 3/12;
}
.main-navigation ul li {
  border: 1px solid var(--text-color-1);
  width: 122px;
}
.main-navigation ul li + li {
  margin-left: 16px;
}
.main-navigation ul li a {
  display: block;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
}

.social-list {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
}
.social-list .social-item {
  margin-right: 20px;
}
.social-list .social-item a {
  display: block;
  background: var(--text-color-1);
  padding: 4px;
  border-radius: 60px;
}
.social-list .social-item a svg {
  fill: var(--color-1);
  width: 17px;
  display: block;
  height: 17px;
}

main {
  max-width: 1640px;
  margin: 0 auto;
}

.logo-container {
  max-width: 398px;
  height: auto;
}
.logo-container a.logo {
  display: block;
  background-color: var(--text-color-1);
  border-radius: 200px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr 260px;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  color: var(--text-color-1);
}
.hero .intro-text {
  font-family: "Libre Baskerville", serif;
  max-width: 812px;
}
.hero .news-column {
  text-align: center;
}
.hero .news-column h2 {
  display: inline-block;
  margin: 0;
  max-width: 77px;
}
.hero .news-column .news-text {
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 20px;
  font-family: "Libre Baskerville", serif;
}

.posts ul {
  display: grid;
  grid-template-columns: repeat(4, 366px);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}
.posts ul li {
  background-color: lightblue;
  padding: 160px 32px;
  border-radius: 199px;
}
.posts ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.posts ul li h3,
.posts ul li p {
  font-family: var(--font-sans-serif);
  font-size: 40px;
}
.posts ul li h3 {
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 16px 0;
}
.posts ul li p {
  font-size: 20px;
}
.posts ul li p.post-type {
  font-family: var(--font-mono);
  font-size: 13px;
  line-height: 17px;
}

/*# sourceMappingURL=main.css.map */